body {
    margin: 0px;
    padding: 0px;
}

#status {
    width: 200px;
    float: right;
    background: #999;
}

#main {
    width: 100%;
    height: 100%;
    background: #000;
    -ms-touch-action: none;
}

.freefloat {
    background-color: #f00;
    width: 9px;
    height: 9px;
    position: absolute;
    margin: -4 -4;
}
